<ion-view view-title="INICIO">
    <ion-nav-buttons side="right">
        <a class="button" href="#/ini/inicio">
            <i class="icon ion-home"></i>
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-divider text-center item-text-wrap">
                <h2>{{empresa.nomempre}}</h2>
                <p>{{campanya.nomresum}}</p>
                <p>{{user.nombre}}</p>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item class="row">
                <div class="col col-50 text-center" ng-click="goCampanya()">
                    <img src="img/campanya3.png">
                    <h2>CAMPAÑAS</h2>
                </div>
                <div class="col col-50 text-center" ng-click="goDatos()">
                    <img src="img/datos3.png">
                    <h2>DATOS</h2>
                </div>
            </ion-item>
            <ion-item class="row">
                <div class="col col-50 text-center" ng-click="goCampos()">
                    <img src="img/campos3.png">
                    <h2>CAMPOS</h2>
                </div>
                <div class="col col-50 text-center" ng-click="goAnticipos()">
                    <img src="img/anticipos3.png">
                    <h2>ANTICIPOS / LIQUIDACIONES</h2>
                </div>
            </ion-item>
            <ion-item class="row">
                <div class="col col-50 text-center" ng-click="goFacturas()">
                    <img src="img/facturas3.png">
                    <h2>FACTURAS</h2>
                </div>
                <div class="col col-50 text-center" ng-click="goMensajes()">
                    <img src="img/mensajes3.png">
                    <h2>MENSAJES</h2>
                    <span  ng-hide = "mensajes.num == 0" class="badge badge-assertive">{{mensajes.num}}</span>
                </div>
            </ion-item>
            <ion-item class="row">
                <div class="col col-50 text-center">

                </div>
                <div class="col col-50 text-center" ng-click="goLogin()">
                    <img src="img/login3.png">
                    <h2>LOGIN / AJUSTES</h2>
                </div>
            </ion-item>            
            <!--
            <ion-item  class="item-text-wrap" style="background-image:url('img/campanya2.jpg');background-size: cover;"  ng-click="goCampanya()">
                <h2 style="color:black"><strong>CAMPAÑAS</strong></h2>
                <span style="color:black">Acceda a la información de campañas anteriores</span>
            </ion-item>
            <ion-item class="item-text-wrap" style="background-image:url('img/datos2.jpg');background-size: cover;" ng-click="goDatos()">
                <h2 style="color:black"><strong>DATOS</strong></h2>
                <span style="color:black">Acceda a la información de sus datos personales</span>
            </ion-item>
            <ion-item class="item-text-wrap" style="background-image:url('img/campos2.jpg');background-size: cover;" ng-click="goCampos()">
                <h2 style="color:black"><strong>CAMPOS</strong></h2>
                <span style="color:black">Acceda a la información de sus campos y las entradas relacionadas con ellos</span>
            </ion-item>
            <ion-item class="item-text-wrap" style="background-image:url('img/anticipos2.jpg');background-size: cover;" ng-click="goAnticipos()">
                <h2 style="color:black"><strong>ANTICIPOS Y LIQUIDACIONES</strong></h2>
                <span style="color:black">Acceda a las facturas de anticipos y liquidaciones que le corresponden</span>
            </ion-item>
            <ion-item class="item-text-wrap" style="background-image:url('img/facturas2.jpg');background-size: cover;" ng-click="goFacturas()">
                <h2 style="color:black"><strong>FACTURAS</strong></h2>
                <span style="color:black">Acceda a las facturas emitidas en tienda, gasolinera o telefonía</span>
            </ion-item>
            <ion-item class="item-text-wrap" style="background-image:url('img/mensajes2.jpg');background-size: cover;">
                <h2 style="color:black"><strong>MENSAJES</strong></h2>
                <span style="color:black">Acceda a los mensajes que le hemos enviado</span>
            </ion-item>
        </ion-list>
        -->
    </ion-content>
</ion-view>
