<ion-view view-title="FACTURAS">
    <ion-nav-buttons side="right">
        <a class="button" href="#/ini/inicio">
            <i class="icon ion-home"></i>
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-divider text-center item-text-wrap">
                <h2>{{empresa.nomempre}}</h2>
                <p>{{user.nombre}}</p>
            </ion-item>
            <ion-item class="item-text-wrap">
                Pulse en el tipo de factura para ver las facturas asociadas
            </ion-item>
            <ion-item>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Elija año de facturación
                    </div>
                    <select>
                        <option selected>Todos</option>
                    </select>
                </label>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item class="item-text-wrap item-icon-left" ng-click="selFacturasTienda()">
                <i class="icon ion-bag"></i> TIENDA
                <span class="badge badge-positive">{{numFacturasTienda}}</span>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item class="item-text-wrap item-icon-left" ng-click="selFacturasGasolinera()">
                <i class="icon ion-paintbucket"></i> GASOLINERA
                <span class="badge badge-positive">{{numFacturasGasolinera}}</span>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item class="item-text-wrap item-icon-left" ng-click="selFacturasTelefonia()">
                <i class="icon ion-android-phone-portrait"></i> TELEFONIA
                <span class="badge badge-positive">{{numFacturasTelefonia}}</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
