<ion-view view-title="MENSAJES">
    <ion-nav-buttons side="right">
        <a class="button" href="#/ini/inicio">
            <i class="icon ion-home"></i>
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-divider text-center item-text-wrap">
                <h2>{{empresa.nomempre}}</h2>
                <p>{{campanya.nomresum}}</p>
                <p>{{user.nombre}}</p>
            </ion-item>
            <ion-item class="item-text-wrap item-icon-right" ng-click="crearMensaje()">
                Pulse en cualquier mensaje para ver su detalle. Si desea enviarnos un mensaje haga clic aquí 
                <i class="icon ion-ios-email"></i>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item collection-repeat="mensaje in mensajes" class="item-text-wrap item-icon-right" ng-click="selMensaje(mensaje)" ng-class="{assertive: mensaje.estado == 'ENVIADO'}">
                <div>
                    <strong>Fecha: </strong> {{mensaje.fecha}}
                </div>
                <div>
                    <strong>Asunto: </strong> {{mensaje.asunto}}
                </div>
                <i class="icon ion-chevron-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
