<ion-view view-title="Pedido: {{datos.pedido.numpedcl}}">
    <ion-nav-buttons side="right">
        <a class="button" ng-click="returnPedido()">
            <i class="icon ion-log-out"></i> Pedidos
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <!-- Cabecera normal -->
        <ion-list ng-hide="enEdicionCabecera">
            <ion-item class="item-positive item-button-right">
                Cabecera
                <div class="buttons">
                    <button class="button button-positive" ng-click="borrarPedido()">
                        <i class="icon ion-trash-b"></i>
                    </button>
                    <button class="button button-positive" ng-click="editarCabecera()">
                        <i class="icon ion-edit"></i>
                    </button>
                </div>
            </ion-item>
            <ion-item class="item-text-wrap">
                <div>
                    <strong>Agente: </strong>{{datos.pedido.nomagent}}
                    <strong>Cliente: </strong>{{datos.pedido.nomclien}}
                </div>
                <div>
                    <strong>Fecha: </strong>{{datos.pedido.fecpedcl}}
                    <strong>Total: </strong>{{datos.pedido.totalped}}
                </div>
            </ion-item>
        </ion-list>
        <!-- Cabecera en edicion -->
        <form name="cabForm" novalidate="" ng-show="enEdicionCabecera">
            <ion-list>
                <ion-item class="item-positive">
                    Cabecera [EDICIÓN]
                </ion-item>
                <ion-item class="item-input">
                    <span class="input-label"><strong>Agente:</strong></span>
                    <span class="positive">{{datos.nomagent}}</span>
                </ion-item>
                <ion-item class="item-input">
                    <span class="input-label"><strong>Cliente:</strong></span>
                    <input type="text" name="cliente" ng-model="datos.parnomcli" ng-change="searchClientes()" required>
                </ion-item>
                <div ng-show="hayErrCab" ng-messages="cabForm.cliente.$error" role="alert" ng-messages-multiple>
                    <div class="error" ng-message="required">
                        <i class="ion-information-circled"></i> Este campo es obligatorio
                    </div>
                    <div class="error" ng-message="eCliente">
                        <i class="ion-information-circled"></i> Debe seleccionar un cliente válido
                    </div>
                </div>
                <ion-item ng-show="searchCliente">
                    <div class="list">
                        <li class="item" ng-repeat="cliente in datos.clientes" ng-click="selectCliente(cliente)">
                            {{cliente.nomclien}} / {{cliente.nomcomer}}
                        </li>
                    </div>
                </ion-item>
                <ion-item class="item-input">
                    <span class="input-label"><strong>Fecha:</strong></span>
                    <input type="text" name="fecha" ng-model="datos.feccab" required>
                </ion-item>
                <div ng-show="hayErrCab" ng-messages="cabForm.fecha.$error" role="alert" ng-messages-multiple>
                    <div class="error" ng-message="required">
                        <i class="ion-information-circled"></i> Este campo es obligatorio
                    </div>
                    <div class="error" ng-message="eFecha">
                        <i class="ion-information-circled"></i> Introduzca una fecha válida (DD/MM/AAAA)
                    </div>
                </div>
                <ion-item class="item-input">
                    <span class="input-label"><strong>Total:</strong></span>
                    <span class="positive"> {{datos.pedido.totalped}}</span>
                </ion-item>
                <ion-item>
                    <div class="text-center">
                        <button class="button" ng-click="guardarCabecera(cabForm)">
                            <i class="icon ion-ios-download-outline"></i> Guardar
                        </button>
                        <button class="button" ng-click="cancelarCabecera()">
                            <i class="icon ion-android-close"></i> Cancelar
                        </button>
                    </div>
                </ion-item>
            </ion-list>
        </form>
        <!-- Lineas normal -->
        <ion-list ng-hide="enEdicionLinea">
            <ion-item class="item-positive item-button-right">
                Lineas
                <button ng-hide="enEdicionCabecera" class="button button-positive" ng-click="crearLinea()">
                    <i class="icon ion-plus"></i>
                </button>
            </ion-item>
            <ion-item class="item-text-wrap row header" style="font-size:small;">
                <div class="col col-10"><strong>Linea</strong></div>
                <div class="col col-30"><strong>Articulo</strong></div>
                <div class="col col-10 text-right"><strong>Cantidad</strong></div>
                <div class="col col-10 text-right"><strong>Precio</strong></div>
                <div class="col col-10 text-right"><strong>Dto1</strong></div>
                <div class="col col-10 text-right"><strong>Dto2</strong></div>
                <div class="col col-10 text-right"><strong>Importe</strong></div>
                <div class="col col-10"></div>
            </ion-item>
            <ion-item ng-repeat="linea in datos.pedido.lineas" class="item-text-wrap row"  style="font-size:small;">
                <div class="col col-10">{{linea.numlinea}}</div>
                <div class="col col-30">{{linea.nomartic}}</div>
                <div class="col col-10 text-right">{{linea.cantidad}}</div>
                <div class="col col-10 text-right">{{linea.precioar}}</div>
                <div class="col col-10 text-right">{{linea.dtoline1}}</div>
                <div class="col col-10 text-right">{{linea.dtoline2}}</div>
                <div class="col col-10 text-right">{{linea.importel}}</div>
                <div class="col col-10 text-center">
                    <button class="button" ng-click="borrarLinea(linea)">
                        <i class="icon ion-trash-b"></i>
                    </button>
                </div>
            </ion-item>
        </ion-list>
        <form name="linForm" novalidate="" ng-show="enEdicionLinea">
            <!-- Lineas en edicion -->
            <ion-list>
                <ion-item class="item-divider item-positive">
                    Linea [EDICIÓN]
                </ion-item class="item-text-wrap">
                <ion-item class="item-input">
                    <span class="input-label"><strong>Linea:</strong></span>
                    <span> {{linped.numlinea}}</span>
                </ion-item>
                <ion-item class="item-input">
                    <span class="input-label"><strong>Articulo:</strong></span>
                    <input type="text" name="articulo" ng-model="linped.nomartic" ng-change="searchArticulos()" placeholder="Introduzca al menos tres caracteres..." required>
                </ion-item>
                <div ng-show="hayErrLin" ng-messages="linForm.articulo.$error" role="alert" ng-messages-multiple>
                    <div class="error" ng-message="required">
                        <i class="ion-information-circled"></i> Este campo es obligatorio
                    </div>
                    <div class="error" ng-message="eArticulo">
                        <i class="ion-information-circled"></i> Debe seleccionar un articulo válido
                    </div>
                </div>
                <ion-item ng-show="searchArticulo">
                    <div class="list">
                        <li class="item" ng-repeat="articulo in datos.articulos" ng-click="selectArticulo(articulo)">{{articulo.nomartic}}</li>
                    </div>
                </ion-item>
                <ion-item class="item-input">
                    <span class="input-label"><strong>Precio:</strong></span>
                    <input type="number" name="precio" ng-model="linped.precioar" ng-change="cambiaPrecio()" required>
                </ion-item>
                <ion-item class="item-input">
                    <span class="input-label"><strong>Cantidad:</strong></span>
                    <input type="number" name="cantidad" ng-model="linped.cantidad" ng-change="cambiaCantidad()" required>
                </ion-item>
                <div ng-show="hayErrLin" ng-messages="linForm.cantidad.$error" role="alert" ng-messages-multiple>
                    <div class="error" ng-message="required">
                        <i class="ion-information-circled"></i> Este campo es obligatorio
                    </div>
                </div>
                <ion-item class="item-input">
                    <span class="input-label"><strong>Importe:</strong></span>
                    <span>{{linped.importel}}</span>
                </ion-item>
                <ion-item>
                    <div class="text-center">
                        <button class="button" ng-click="guardarLinea(linForm)">
                            <i class="icon ion-ios-download-outline"></i> Guardar
                        </button>
                        <button class="button" ng-click="cancelarLinea()">
                            <i class="icon ion-android-close"></i> Cancelar
                        </button>
                    </div>
                </ion-item>
            </ion-list>
        </form>
    </ion-content>
</ion-view>
