<ion-view view-title="AriGES - (c) Ariadna Software S.L.">
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="right">
        <button class="button" ng-click="crearPedido()">
            <i class="icon ion-plus"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-list>
            <div class="item item-divider item-positive">
                Pedidos
            </div>
            <ion-item ng-repeat="pedido in datos.pedidos" class="item-text-wrap item-icon-right" ng-click="goPedido(pedido)">
                <i class="icon ion-chevron-right"></i>
                <div>
                    <strong>Numero: </strong>{{pedido.numpedcl}}
                    <strong>Agente: </strong>{{pedido.nomagent}}
                </div>
                <div>
                    <strong>Cliente: </strong>{{pedido.nomclien}} ({{pedido.nomcomer}})
                </div>
                <div>
                    <strong>Fecha: </strong>{{pedido.fecpedcl}}
                    <strong>Total: </strong>{{pedido.totalped}}
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
