<ion-view view-title="AriGES - (c) Ariadna Software S.L.">
	<ion-nav-bar class="bar-stable">
		<ion-nav-back-button>
		</ion-nav-back-button>
	</ion-nav-bar>
    <ion-content class="padding">
        <ion-list ng-hide="searchComplete">
        	<div class="item item-divider item-positive">
        		<i class="icon ion-search"></i> Buscar proveedor
        	</div>
        	<label class="item item-input">
        		<input type="text" ng-model="datos.parnom" placeholder="Nombre del proveedor..."/>
        	</label>
        	<div class="item item-body text-center">
        		<button class="button" ng-click="searchProveedor()">
        			<i class="icon ion-search"></i> Buscar
        		</button>
        	</div>
        </ion-list>
        <ion-list ng-show="searchComplete">
            <ion-item class="item-positive item-button-right" ng-click="hideSearch()">
                <i class="icon ion-funnel"></i> Resultados
                <button class="button button-positive">
                    <i class="icon ion-search"></i>
                </button>
            </ion-item>
            <ion-item ng-repeat="proveedor in datos.proveedores" class="item-text-wrap item-icon-right"  ng-click="goProveedor(proveedor)">
                <i class="icon ion-chevron-right"></i>
                <h4> CIF: {{proveedor.nifprove}} </h4>
                <p> {{proveedor.nomprove}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
