<ion-view view-title="DATOS CAMBIO">
    <ion-nav-buttons side="right">
        <a class="button" href="#/ini/inicio">
            <i class="icon ion-home"></i>
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-divider text-center item-text-wrap">
                <h2>{{empresa.nomempre}}</h2>
                <p>{{user.nombre}}</p>
            </ion-item>
            <ion-item class="item-text-wrap">
                Modifique los datos que desee y pulse el bótón enviar al final de la pantalla
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item class="item-input item-stacked-label">
                <div>
                    <span class="input-label">Nombre:</span>
                    <input type="text" ng-model="user.nombre">
                </div>
            </ion-item>
            <ion-item class="item-input item-stacked-label">
                <div>
                    <span class="input-label">NIF:</span>
                    <input type="text" ng-model="user.nif">
                </div>
            </ion-item>
            <ion-item class="item-input item-stacked-label">
                <div>
                    <span class="input-label">Dirección:</span>
                    <input type="text" ng-model="user.direccion">
                </div>
            </ion-item>
            <ion-item class="item-input item-stacked-label">
                <div>
                    <span class="input-label">Cod. Postal:</span>
                    <input type="text" ng-model="user.codPostal">
                </div>
            </ion-item>
            <ion-item class="item-input item-stacked-label">
                <div>
                    <span class="input-label">Población:</span>
                    <input type="text" ng-model="user.poblacion">
                </div>
            </ion-item>
            <ion-item class="item-input item-stacked-label">
                <div>
                    <span class="input-label">Provincia:</span>
                    <input type="text" ng-model="user.provincia">
                </div>
            </ion-item>
            <ion-item class="item-input item-stacked-label">
                <div>
                    <span class="input-label">Teléfono (1):</span>
                    <input type="text" ng-model="user.telefono1">
                </div>
            </ion-item>
            <ion-item class="item-input item-stacked-label">
                <div>
                    <span class="input-label">Teléfono (2):</span>
                    <input type="text" ng-model="user.telefono2">
                </div>
            </ion-item>
            <ion-item class="item-input item-stacked-label">
                <div>
                    <span class="input-label">Correo:</span>
                    <input type="email" ng-model="user.email">
                </div>
            </ion-item>            
            <ion-item class="item-input item-stacked-label">
                <div>
                    <span class="input-label">IBAN:</span>
                    <input type="text" ng-model="user.iban">
                </div>
            </ion-item>
        </ion-list>
        <button class="button button-block" ng-click="cambioDatos()">
            ENVIAR
        </button>
    </ion-content>
</ion-view>
