<ion-view view-title="AJUSTES">
    <ion-nav-buttons side="right">
        <a class="button" href="#/ini/inicio">
            <i class="icon ion-home"></i>
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-input item-stacked-label">
                <span class="input-label"><strong>URL servicio API:</strong></span>
                <input type="url" ng-model="config.urlApi">
            </ion-item>
            <ion-item class="item-input item-stacked-label">
                <span class="input-label"><strong>Número de app:</strong></span>
                <input type="number" ng-model="config.numApp">
            </ion-item>
            <ion-item class="item-input item-text-wrap">
                <span><strong>PlayerId:</strong></span>{{user.playerId}}
            </ion-item>
        </ion-list>
        <button class="button button-block" ng-click="setConfig()">
            Aceptar
        </button>
        <a class="button button-block" href="#/ini/login">
            Salir
        </a>
    </ion-content>
</ion-view>
